
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/*header*/
.header-class {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 320px;
}

.container-header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    gap: 40px;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 17px 0;
}

.nav-header {
    display: flex;
    align-items: center;
}

/*.nav-header .nav-link {

    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

.nav-header .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.page-nav {display: none;}
.ul-kontakt {display: none;}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    color: #4d5ae5;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 120px;
    /*для визначення відступа від логотипа*/
}

.logo-studio {
    color: #2e2f42;
    font-family: "Raleway";
}

.page-nav {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1, 5;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: none;
    position: relative;
    gap: 40px;
    /*для визначення відступів між пунктами меню*/
}

.page-nav a.nav-link:hover {
    color: #404bbf;
}

.page-nav a.nav-link:focus {
    color: #404bbf;
}

.page-nav:hover {
    color: #4D5AE5;
}

.page-nav:active {
    color: #404BBF;
}

.nav-link {
    line-height: 150%;
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    letter-spacing: 0.32px;
    text-decoration: none;
    margin: 0;
    display: block;
    padding: 24px 0;
    position: relative;
    /*для встановлення позиціонування елемента відносно його звичайного місця в потоці документу*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link a:hover {color: #404bbf;}
.nav-link a:focus {color: #404bbf;}

.nav-studio {
    color: #404bbf;
    position: relative;
    padding: 24px, 0;
}

.a .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.current {
    color: #404BBF;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #404BBF;
}

.address {
    font-style: normal;
    display: none;
    /*для розташування контактів по горизонталі*/
    gap: 40px;
    /*для визначення відступів між пунктами контактів*/
}

.ul-kontakt {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 40px;
}

.kontakt {
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.32px;
    color: #434455;
    text-decoration: none;
}

.ul-kontakt .kontakt {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kontakt:hover {
    color: #404bbf;
}

.kontakt:focus {
    color: #404bbf;
}


.menu-button {margin-left: auto;
display: block;
background: none;
border: none;}

/*section 1*/
.section-effective {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 72px 0;
    /*для визначення відступів всередині секції*/
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*для позиціонування зображення на всю площу фону елемента*/
}



.h-effective {
    font-size: 36px;
    line-height: 111.111%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #ffffff;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding: 0;
    max-width: 170px;
    height: 120px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.64px;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    /*для вимкнення стандартного оформлення кнопки*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    /*для визначення заокруглень у кнопки*/
    margin: 0 auto;
    /* Центрування горизонтально */
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/*section 2*/

.section-about {
    padding: 120px 0 120px;
    /*для визначення відступів всередині секції*/
}

.h-about {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.ull {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}


.li-about {
    /*flex-basis: calc((100% - 3 * 24px) / 4);*/
    /*для визначення ширини пункту списку*/
}

.icons-svg {
    display: flex;
    align-items: center;
    /*по вертикалі*/
    justify-content: center;
    /*по горизонталі*/
    height: 112px;
    /*висотa блоку*/
    width: 264px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    flex-shrink: 0;
    position: relative;
    max-width: 264px;
    display: none;
}



.h-aboutus {
    font-weight: 500;
    font-size: 36px;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    color: #2e2f42;
    margin: 0;
    text-indent: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
    /*для визначення відступу між заголовком і параграфом*/
}

.p-aboutus {
    line-height: 150%;
    font-size: 16px;
    letter-spacing: 0.32px;
    color: #434455;
    margin: 0;
    padding: 0;
    text-indent: 0%;
    font-weight: 500;
}

/*section 3*/
.ourteam {
    background-color: #F4F4FD;
    padding: 120px 0 120px;
    display: none;
}

.h-ourteam {
    font-family: "Roboto";
    line-height: 111.111%;
    letter-spacing: 0.72px;
    color: #2e2f42;
    margin-bottom: 72px;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;

}


.ul-ourteam {
    justify-content: baseline;
    padding-left: 0;
    /*для визначення відступів між заголовком та параграфом*/
    display: flex;
    /*для розміщення елементів списку по горизонталі в рядок*/
    gap: 24px;
    /*для визначення розмірів відступів між елементами списку*/
}

.li-productdesigner {
    background-color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    border-radius: 0px 0px 4px 4px;
    /*для визначення заокруглень внизу блока*/
    width: calc((100% - 72px) / 4);
    /*для визначення ширини пункту списку*/
    gap: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.li-productdesigner:not(:last-child) {
    margin-right: 24px;
}

img {
    display: block;
}

.image-container {
    line-height: 24px;
    /* 120% */
    padding: 32px 0;
    /*для визначення відступів від краю контейнера*/
}

.h-people {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.4px;
    color: #2e2f42;
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
}

.p-people {
    font-size: 16px;
    text-align: center;
    line-height: 150%;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.ul-ellipse {
    display: flex;
    /*для розміщення елементів списку по горизонталі в рядок*/
    justify-content: center;
    /*для вирівнювання елементів по горизонталі*/
    gap: 24px;
    /*для визначення розмірів відступів між елементами списку*/
    
}

.li-ellipse {
    width: 40px;
    height: 40px;

}

.ul-ellipse .li-ellipse .link-ellipse {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*для плавної зміни кольору фону елемента*/
}

.link-ellipse {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    /*колір фону елемента*/
    border-radius: 50%;
    /*встановлює радіуси кутів елемента*/
    display: flex;
    /*для подальшої можливості зміни розташування дочірнього елемента*/
    align-items: center;
    /*вирівнювання іконки по вертикалі*/
    justify-content: center;
    /*вирівнювання іконки по горизонталі*/
}

.link-ellipse:hover {
    background-color: #404BBF;
}

.link-ellipse:focus {
    background-color: #404BBF;
}

.icon-ellipse {
    fill: #f4f4fd;
    /*для визначення кольору іконки*/
}

/*section 4*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    /*для визначення відступів всередині секції*/
    display: none;
}


.hh-portfolio {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
}

.ul-portfolio {
    display: flex;
    /*для розміщення елементів списку в рядок по горизонталі*/
    flex-wrap: wrap;
    /*для переносу елементів списку на новий рядок якщо їм не вистачає місця в попередньому*/
    column-gap: 24px;
    /*для визначення горизонтальних відступів між пунктами списку*/
    row-gap: 48px;
    /*для визначення вертикальних відступів між елементами списку якщо вони переносяться на новий рядок*/
    margin: 0;
    padding: 0;

}


.li-portfolio {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc((100% - 48px) / 3);
    /*для визначення ширини для елемента списку*/
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*для плавної появи тіні*/
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    /*для визначення тіні для елемента при наведені мишкою*/
}

.li-portfolio:hover p {
    transform: translateY(0%);
}

.img-portfolio {
    position: relative;
    /*для встановлення позиціонування елемента відносно його звичайного місця в потоці документу*/
    overflow: hidden;
    /*для приховання контенту, який виходить за межі елемента*/
}

.p-img-portfolio {
    position: absolute;
    /*що встановлює позиції елемента відносно його батьківського елемента*/
    top: 0;
    /*для зміщення елемента до верхньої межі контейнера*/
    font-size: 16px;
    /*для визначення розміру шрифту*/
    line-height: 150%;
    /* для визначення простору між рядками*/
    letter-spacing: 0.32px;
    /*для визначення відстані між літерами*/
    color: #f4f4fd;
    padding: 40px 32px;
    /*відступів між вмістом елемента та його рамкою*/
    background-color: #4d5ae5;
    /*fon*/
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    /*змінює позицію елемента вздовж осі Y*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*дозволяє задавати анімаційний ефект для зміни значень властивостей стилю*/
}

.h-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.4px;
    color: #2e2f42;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    /*для визначення відступу між заголовком та параграфом*/
}

.p-portfolio {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #434455;
    margin: 0;
    padding: 0;
}




.img-container {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 32px 16px;
    /*для визначення відступів від країв контейнера*/
    border: 1px solid #e7e9fc;
    /*для визначення стилю обводки по периметру контейнера*/
    border-top: none;
    /*для скидання стилів обводки для верхнього краю контейнера*/
}

/*футер*/
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    /*для визначення відступів всередині секції*/
}

.div-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 72px;
}

.logo-p-footer {
    /*margin-right: 120px;*/
    flex-wrap: wrap;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #4d5ae5;
    text-decoration: none;
    display: block;
    /*для додавання посиланню блочних властивостей*/
    margin-bottom: 16px;
    /*для визначення відступу між посиланням та параграфом*/
}

.logo-studio-footer {
    color: #f4f4fd;


}

.footer-paragraph {
    color: #F4F4FD;
    height: 72px;
    max-width: 288px;
    /*для визначення максимально допустимої ширини тексту*/
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    font-family: "Roboto";
    line-height: 150%;
    letter-spacing: 0.32px;
}

.div-content-socialmedia {
    /*margin-right: 80px;*/
    gap: 16px;
}

.p-socialmedia {
    font-weight: 500;
    /*жирність шрифта*/
    font-size: 16px;
    /*розмір*/
    line-height: 150%;
    /*простір між рядками*/
    color: #FFFFFF;
    /*color text*/
    margin-bottom: 16px;
    /*відступи*/
    font-family: 'Roboto';
    font-style: normal;
    align-items: flex-start;
    letter-spacing: 0.32px;
    text-align: center;
}

p {
    margin: 0;
}

.ul-sozial {
    gap: 16px;
    display: flex;
}

ul-sozial {
    margin: 0;
    padding: 0;
}

.li-sozial {
    width: 40px;
    height: 40px;
    list-style-type: none;
}

.href-sozial {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    flex-shrink: 0;
}

.href-sozial:hover {
    background-color: #31d0aa;
}

.href-sozial:focus {
    background-color: #31d0aa;
}

.icon-ellipse-footer {
    fill: #F4F4FD;
}


.p-subscribe {
    margin-bottom: 16px;
    /*для визначення відступів між параграфом та наступним елементом*/
    font-weight: 500;
    /*для визначення жирності шрифту*/
    font-size: 16px;
    /*для визначення розміру шрифта*/
    line-height: 1.5;
    /*для визначення простору між рядками*/
    letter-spacing: 0.02em;
    /*для визначення відстані між літерами*/
    color: #ffffff;
    /*кольору тексту*/
    text-align: center;
}

.subscribe {
    display: flex;
    /*для розміщення елементів форми по горизонталі в рядок*/
    gap: 16px;
    /*для визначення відступів між елементами форми*/
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
}

.label-subscribe {
    display: block;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.inputmail {
    width: 288px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: transparent;
    outline-offset: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputmail::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    opacity: 0.6;
}

.inputmail:focus {
    border-color: #4d5ae5;
}

.button_subscribe {
    min-width: 165px;
    /*мінімальної ширини кнопки*/
    height: 40px;
    /*висоти кнопки*/
    display: flex;
    /*розташування дочірніх елементів*/
    justify-content: center;
    /*вирівнювання контенту по горизонталі*/
    align-items: center;
    /*для вирівнювання контенту по вертикалі*/
    font-family: Roboto, sant-serif;
    font-size: 16px;
    margin: 0 auto;
    font-weight: 500;
    /*для визначення жирності шрифта*/
    line-height: 1.5;
    /*для визначення простору між рядками*/
    letter-spacing: 0.04em;
    /*відстані між літерами*/
    color: #ffffff;
    cursor: pointer;
    /*для визначення стилю курсору*/
    background-color: #4D5AE5;
    /*кольору фону*/
    border: none;
    /*вимкнення стандартного оформлення кнопки*/
    border-radius: 4px;
    /*для визначення радіусу закруглення кутів елемента*/
}

svg {
    width: 24;
    height: 24;
}

.svg-button {
    margin-left: 16px;
    /*для реалізації відступів*/
    fill: #FFFFFF;
}

.inputmail {
    border: 1px solid #ffffff;
    /*стиль, ширину та колір межі навколо елемента*/
    width: 264px;
    height: 40px;
    background-color: transparent;
    /*для визначення кольору фону*/
    font-size: 12px;
    /*для визначення розміру шрифта*/
    line-height: 1.5;
    /*простору між рядками*/
    letter-spacing: 0.04em;
    /*для визначення відстані між літерами*/
    padding-left: 16px;
    /*внутрішніх відступів для контенту*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    /*тінь на елемент*/
    border-radius: 4px;
    /*для визначення радіусу закруглення кутів елемента*/
    color: #ffffff;
    /*для визначення кольору тексту*/
}

input ::placeholder {
    color: #ffffff;
}

input ::placeholder-shown {
    border-color: #404BBF;
}

/*контейнер для модального вікна*/
.open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);
}

.open.div-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/*модальне вікно*/
.block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*кнопка х + іконка*/
.button-open {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-color: #e7e9fc;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-open:hover {
    background-color: #404bbf;
    border: none;
}

.button-open:focus {
    background-color: #404bbf;
    border: none;
}
.button-open:focus .div-modal,
.button-open:hover .div-modal {fill: #ffffff;}
.div-modal {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-open:hover .div-modal {
    fill: #ffffff;
}

.button-open:focus .div-modal {
    fill: #ffffff;
}

.button-open:hover {
    background-color: #404bbf;
    border: none;
}

.button-open:focus {
    background-color: #404bbf;
    border: none;
}

/*заголовок вікна*/
.review {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #2e2f42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/*1 дочірній елемент form*/
.div-review {
    position: relative;
    margin-bottom: 8px;
}

/*загальний стиль для name, phone, email, comment*/
.label-review {
    display: block;
    color: #8e8f99;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

/*контейнер name*/
.div-input {
    position: relative;
}

/*ячейка name*/
.review-input {
    background-color: transparent;
    outline: transparent;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-input:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 5px;
}

.review-input:focus+.review-icon {
    fill: #4d5ae5;
}

/*іконка персона*/
.review-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-icon:focus {
    fill: #4d5ae5;
}

/*4 дочірній елемент form*/
.textarea-review {
    margin-bottom: 16px;
}

/*comment*/
.mail-review {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
}

.mail-review:focus {
    border-color: #4d5ae5;
    outline-color: transparent;
    outline-offset: 5px;
}

/*5 дочірній елемент form*/
.div-checkbox {
    margin-bottom: 24px;
}

/*checkbox 1 доч.елемент div*/
.review-checkbox:checked+.label-review-checkbox .span-review-checkbox {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
}

/*проба виправлення помилки*/

/*приховання дефолтного чекбоксу*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    border: 0;
    white-space: nowrap;

}


/*2 доч.елемент div*/
.label-review-checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 117%;
    letter-spacing: 0.48px;
    align-items: center;
    color: #8e8f99;
    border: none;
    /*background-color: #404bbf;*/
    fill: #f4f4fd;
    /*outline: 1px solid #404bbf;*/
}

/*3 доч.елем.div*/
.span-review-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    outline: 1px solid #404bbf;
    margin-right: 8px;
}


/*посилання по політику*/
.policy-link {
    text-decoration: underline;
    color: #4d5ae5;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.48px;
    margin-left: 4px;
}

/*кнопка*/
.review-button {
    display: block;
    gap: 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form-text {
    display: block;
    min-width: 105px;
}
.review-button:hover,
.review-button:focus {
    background-color: #404BBF;
}







/*MEDIA*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

/*header*/
.container-header {
        /*max-width: 768px;
        padding: 16px 16px 0 16px;*/
        /*margin: 0 auto;*/
        /*gap: 120px;*/
        /*align-items: center;*/}

.menu-button {display: none;}
/*.nav-header {gap: 120px;}*/
.page-nav {display: flex;}
.address {display: block;
margin-left: auto;}
.ul-kontakt {display: flex;
flex-wrap: wrap;
gap: 12px;}

/*section effective*/
.section-effective {padding-top: 112px;
padding-bottom: 112px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background-tab.jpg);}

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .section-effective {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background-tab@2x.jpg);}
 }

 .h-effective {
    letter-spacing: 1.12px;
        line-height: 107.143%;
        font-size: 56px;
        margin-bottom: 36px;
        max-width: 496px;
 }

 /*section 2*/
 .ull {gap: 72px 24px;}
 .li-about {width: calc((100% - 48px) / 2);}
 .h-aboutus {text-align: left;}
 /*section 3*/
 .ul-ourteam {gap: 64px 24px;}
 /*section 4*/
 .ul-portfolio {gap: 72px 24px;}
 .li-portfolio {width: calc((100% - 24px) / 2);}
 /*footer*/
 .div-footer {gap: 72px 24px;
width: 584px;}
.logo-footer {display: inline-block;
    text-align: left;}
.div-content-socialmedia {margin: initial;}
.p-socialmedia {text-align: left;}
.subscribe {gap: 24px;}
.p-subscribe {text-align-last: left;}
}

/*desktop*/
@media screen and (min-width: 1158px) {
.section-effective {
        padding-top: 120px;
        padding-bottom: 120px;
    }

.container {max-width: 1158px;}
/*header*/
.container-header {max-width: 1158px;}
.logo {margin-right: 76px;}
.address {margin-left: auto;}
.ul-kontakt {gap: 40px;
flex-wrap: nowrap;}
.kontakt {padding: 24px 0;}
/*section1*/
.section-effective {padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-effective {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background@2x.jpg);
    }
}
.h-effective {margin-bottom: 48px;}

/*section2*/
.ull {flex-wrap: nowrap;}
.li-about {width: calc((100% - 72px) / 4);}
.icons-svg {display: flex;}
.h-aboutus {font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
    text-transform: none;}
.p-aboutus {font-weight: 400;}
/*section3*/
.ul-ourteam {gap: 24px;}
.li-productdesigner {width: calc((100% - 72px) / 4);}
/*section4*/
.ul-portfolio {gap: 48px 24px;}
.li-portfolio {flex-shrink: 0;
width: calc((100% - 48px) / 3);}
/*footer*/
.div-footer {flex-wrap: nowrap;
gap: 0;
width: auto;}
.logo-p-footer {margin-right: 120px;
display: block;}
.footer-paragraph {max-width: 264px;}
.div-content-socialmedia {margin-right: 80px;}
.subscribe {flex-wrap: nowrap;
gap: 24px;}
.inputmail {width: 264px;}
.inputmail::placeholder {opacity: 1;}
}